NEXT_PUBLIC_SITE_URL=https://bprsoluciones.com
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/59800000000
NEXT_PUBLIC_EMAIL=hola@bprsoluciones.com
NEXT_PUBLIC_CALENDAR_URL=https://cal.com/bprsoluciones
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_GA_ID=
